body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* To prevent the snowfall from affecting scroll */
    background-image: url('image2.jpeg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size:.5rem;
}
body {
    background-size: 100% 100%;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.1); /* Transparent white background */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Slight shadow for depth */
    padding: 20px;
    backdrop-filter: blur(10px); /*
     Glass blur effect */
     color:111;
}

.intro {
    text-align: center;
    font-size: 2.5rem;
    color: #111; /* Dark text color */
}

.content {
    text-align: center;
    margin-top: 20px;
}

#input {
    padding: 10px;
    font-size: 18px;
}

#btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn:hover {
    background-color: #45a049;
}

div > div:last-child {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

